<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>

    <div>
        <% if (field) { %>
            <h3>Абитуриенты (<%= field %>; <%= direct %>):</h3>
        <% } else { %>
            <h3>Абитуриенты:</h3>
        <% } %>
        
        <% arrayUsers.forEach( user => { %>
            <% let listClass = (+user.rating > limit)? 'list-green': 'list-red'; %>
            <li class="<%= listClass %>">
                <%= user.lastName %> 
                <%= user.firstName %> 
                <%= user.rating %>
            </li>
        <% }); %>
    
    </div>

    <div>
        <h3>Сортировать (Фамилия):</h3>
        <a href="http://localhost:3000/order/lastName/asc">
            <button class="green">по возрастанию</button>
        </a>
        <a href="http://localhost:3000/order/lastName/desc">
            <button class="green">по убыванию</button>
        </a>
    </div>
    
    <div>
        <h3>Сортировать (Рейтинг):</h3>
        <a href="http://localhost:3000/order/rating/asc">
            <button class="green">по возрастанию</button>
        </a>
        <a href="http://localhost:3000/order/rating/desc">
            <button class="green">по убыванию</button>
        </a>
    </div>

    <br><br>
    <div>
        <a href="http://localhost:3000/">
            <button class="blue">НА ГЛАВНУЮ</button>
        </a>
    </div>

</body>
</html>